{% extends "meseros/base_generic.html"%}

{% block content %}

    <p>Lista de meseros en la aplicacion</p>
    <div class="card-body">
        <a type="button" class="btn btn-success" href="{% url 'meseros_create_vc' %}">AGREGAR MESERO</a>
        <form method="post">
            {% csrf_token %}
        <table class="table table-striped">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Descripción de mesero</th>
                <th scope="col">Acción</th>
            </thead>

            <tbody>
                {% for meseros in object_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><p>{{ meseros.nombre }} tiene {{ meseros.nacionalidad }} años y es de {{meseros.edad }}</p></td>
                        <td>
                            <a type="button" class="btn btn-info" href="{% url 'meseros_edit_vc' meseros.id %}">EDITAR</a>
                            <a type="button" class="btn btn-danger" href="{% url 'meseros_delete_vc' meseros.id %}">ELIMINAR</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </form>
    </div>
{% endblock %}