{% extends "platos/base_generic.html"%}

{% block content %}

    <p>Lista de platos en la aplicacion</p>
    <div class="card-body">
        <a type="button" class="btn btn-success" href="{% url 'platos_create_vc' %}">AGREGAR PLATILLO</a>
        <form method="post">
            {% csrf_token %}
        <table class="table table-striped">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Descripción de plato</th>
                <th scope="col">Acción</th>
            </thead>

            <tbody>
                {% for platos in object_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><p>{{ platos.nombre }} es de {{ platos.procedencia }} y cuesta: {{platos.precio }}</p></td>
                        <td>
                            <a type="button" class="btn btn-info" href="{% url 'platos_edit_vc' platos.id %}">EDITAR</a>
                            <a type="button" class="btn btn-danger" href="{% url 'platos_delete_vc' platos.id %}">ELIMINAR</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </form>
    </div>
{% endblock %}