{% extends "platos/base_generic.html"%}

{% block content %}

    <p>Lista de platos en la aplicacion</p>
    <div class="card-body">
        <form action="" method="post"></form>
         {% csrf_token %}
        <table class="table table-striped">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Descripción</th>
            </thead>
            <tbody>
                {% for platos in data %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><p>{{ platos.nombre }} es de {{platos.procedencia }} y cuesta: {{ platos.precio }}</p></td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}